.scroll-zoom-clamp-message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  pointer-events: none;
}